#footer {
  padding: 20px;
}

.footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". info info .";
  width: 100%;
  height: 350px;
  // background-color: red;
  align-items: baseline;
  justify-items: center;
  justify-content: space-between;
}

.footer_img img {
  max-width: 250px;
  // justify-self: center;
}

.info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-self: center;
}

.instagram-icon {
  width: 50px;
  padding: 10px;
}
.mail-icon {
  width: 65px;
  padding: 10px;
}
