.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // gap: 20px 20px;
  gap: 1px 1px;
  align-items: center;
  grid-template-areas:
    "footer-contact franoutline"
    "instagram franoutline";
}

.footer-contact {
  grid-area: footer-contact;
  max-width: 55px;
}

.instagram { grid-area: instagram; }

.instagram-drawing {
  max-width: 50px;
}

.franoutline {
    grid-area: franoutline;
}

.franoutline-svg {
    max-width: 109px;
    transform: rotate(24deg);
    float: right;
  }
