/* MENU START */
.menu-content {
  /* font-family: "Oswald", sans-serif; */
  padding: 0 0 0 10px;
  /* background-color: red; */
}

.collapsible-menu {
  /* color: black; */
  /* background-color: rgb(255, 255, 255); */
  /* padding: 0px 30px; */
  /* border-bottom: 3px solid #cde700; */
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); */
  /* background-color: blue; */
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
  /* background-color: pink; */
}

.collapsible-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  /* background-color: purple; */
}

.collapsible-menu label {
  /* font-family: "Sedgwick Ave Display", cursive; */
  /* font-size: 56px; */
  display: block;
  cursor: pointer;
  /* background: url(../images/navigation/hamburger.svg) no-repeat left center; */
  padding: 10px 0 10px 0px;
  /* background-color: green; */
  /* max-width: 0px; */
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input:checked + label {
  /* background-image: url(../images/navigation/x.svg); */
  /* max-width: 0px; */
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  /* font-family: "Oswald", sans-serif; */
  padding: 0 0 0 10px;
  /* background-color: yellow; */
}

/* Toggle Effect */
input:checked ~ label {
  /* background-image: url(../images/navigation/x.svg); */
  /* max-width: 0px; */
}

input:checked ~ .menu-content {
  max-height: 100%;
}

/* MENU END */
.art-page-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 5px;
  grid-template-areas: "artworkprice artworkprice" "text image" "text image" "text image" "text image" "text image" "text image" "text image" "text image";
}

.artworkprice {
  grid-area: artworkprice;
  margin-left: 28px;
  margin-bottom: 25px;
  color: #6b6b6b;
}

.quote-contact {
  color: #6b6b6b;
}

.title {
  font-family: Montserrat-bold;
}

.text {
  text-align: right;
  margin-right: 10px;
}

.art-page-image {
  max-width: 100%;
}

.sold {
  font-weight: bolder;
  color: red;
  font-family: Montserrat-bold;
}

.blurb {
  padding: 0 23px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 56px;
  border-radius: 1%;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem lightgrey);
  margin-bottom: 20px;
}

.bio {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  margin: 0 10px;
}

.hello {
  font-size: 3em;
  font-style: bold;
  line-height: 1;
}

.about-img {
  max-width: 300px;
  margin: 4px 15px 2px 10px;
  float: left;
  border-radius: 5%;
}

.fran-img {
  float: right;
  max-width: 200px;
  padding-top: 5px;
  padding: 9px 7px 0 9px;
  border-radius: 50%;
}

.event-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  grid-gap: 10px;
  max-width: 100%;
}

.about-event-img {
  max-width: 100%;
  margin: 4px 15px 0 10px;
  justify-self: center;
  border-radius: 1%;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}

.contact {
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 20px;
  border: solid 5px white;
  margin: 0 auto;
  background-color: white;
  border-radius: 1%;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem lightgrey);
  max-width: 700px;
}

.contact-top {
  text-align: center;
}

.contact-img {
  max-width: 150px;
  margin: 10px;
}

.contact-text {
  font-size: 3em;
  padding: 10px 10px 0 10px;
}

#orders {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 20px;
}

.contact-email a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 5px;
  text-decoration: none;
}

.contact-instagram a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
}

.input {
  width: 100%;
}

.nameemailwrap {
  display: grid;
}

.name-wrap {
  width: 95%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.email-wrap {
  width: 95%;
  grid-column-start: 2;
  grid-column-end: 2;
  justify-self: end;
}

.form-entry {
  padding-bottom: 10px;
  font-size: 1.5em;
}

.send {
  text-align: right;
}

.sendbtn {
  font-family: "Montserrat";
  background-color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  filter: drop-shadow(0.2rem 0.2rem 0.1rem lightgrey);
}

.sendbtn:hover {
  font-style: italic;
  filter: drop-shadow(0.1rem 0.1rem 0.05rem lightgrey);
}

/*ABOUT PAGE END*/
.footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  align-items: center;
  grid-template-areas: "footer-contact franoutline" "instagram franoutline";
}

.footer-contact {
  grid-area: footer-contact;
  max-width: 55px;
}

.instagram {
  grid-area: instagram;
}

.instagram-drawing {
  max-width: 50px;
}

.franoutline {
  grid-area: franoutline;
}

.franoutline-svg {
  max-width: 115px;
  float: right;
}

@font-face {
  font-family: "script-font";
  src: url(ILoveGlitter.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url("montserrat-regular.eot");
  /* IE9 Compat Modes */
  src: url("montserrat-regular.eot?#iefix") format("embedded-opentype"), url("montserrat-regular.woff2") format("woff2"), url("montserrat-regular.woff") format("woff"), url("montserrat-regular.ttf") format("truetype"), url("montserrat-regular.svg#montserrat-regular") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("montserrat-bold.eot");
  /* IE9 Compat Modes */
  src: url("montserrat-bold.eot?#iefix") format("embedded-opentype"), url("montserrat-bold.woff2") format("woff2"), url("montserrat-bold.woff") format("woff"), url("montserrat-bold.ttf") format("truetype"), url("montserrat-bold.svg#Montserrat-bold") format("svg");
  /* Legacy iOS */
}
main,
header,
section,
aside,
footer {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat";
  /* color: #ffffff; */
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  font-style: italic;
}
a:active {
  text-decoration: underline;
}

.wrapper {
  margin: auto;
  max-width: 75rem;
}

main {
  /* background: #000000; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px 4px;
  grid-template-areas: "logo logo nav-links nav-links nav-links nav-links nav-links" "logo logo nav-links nav-links nav-links nav-links nav-links" "headerline headerline headerline headerline headerline headerline headerline";
  font-family: Montserrat;
}

.logo {
  grid-area: logo;
  max-width: 160px;
  margin: 5px;
}

.headerline {
  grid-area: headerline;
  margin: 5px;
  color: #6b6b6b;
}

.nav-links {
  display: grid;
  grid-template-columns: fit-content auto;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "nav-link nav-link nav-link nav-link nav-link" "nav-link nav-link nav-link nav-link nav-link";
  grid-area: nav-links;
  font-size: 2vw;
}

.nav-link {
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

.sidebar {
  /* background: #673ab7; */
}

.footer {
  /* background: #616161; */
}

/************** IMAGE GALLERY START */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 48%;
  padding: 0 2px 0 4px;
  margin: 0 auto;
  align-content: space-evenly;
}
.column .imgcontainer {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  position: relative;
}
.column .image {
  display: block;
  width: 100%;
  height: auto;
}
.column .image .painting {
  margin: 20px;
}
.column .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.55);
}
.column .overlay:hover {
  opacity: 1;
}
.column .overlay .imgtext {
  color: black;
  font-family: "Montserrat";
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.column .overlay .imgsubtext {
  color: black;
  font-family: "Montserrat";
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column .overlay {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.55);
    position: absolute;
    top: 67%;
    height: 20%;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
