/* MENU START */
.menu-content {
  /* font-family: "Oswald", sans-serif; */
  padding: 0 0 0 10px;
  /* background-color: red; */
}

.collapsible-menu {
  /* color: black; */
  /* background-color: rgb(255, 255, 255); */
  /* padding: 0px 30px; */
  /* border-bottom: 3px solid #cde700; */
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); */
  /* background-color: blue; */
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
  /* background-color: pink; */
}

.collapsible-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  /* background-color: purple; */
}

.collapsible-menu label {
  /* font-family: "Sedgwick Ave Display", cursive; */
  /* font-size: 56px; */
  display: block;
  cursor: pointer;
  /* background: url(../images/navigation/hamburger.svg) no-repeat left center; */
  padding: 10px 0 10px 0px;
  /* background-color: green; */
  /* max-width: 0px; */
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input:checked + label {
  /* background-image: url(../images/navigation/x.svg); */
  /* max-width: 0px; */
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  /* font-family: "Oswald", sans-serif; */
  padding: 0 0 0 10px;
  /* background-color: yellow; */
}

/* Toggle Effect */
input:checked ~ label {
  /* background-image: url(../images/navigation/x.svg); */
  /* max-width: 0px; */
}

input:checked ~ .menu-content {
  max-height: 100%;
}

/* MENU END */
main,
header,
section,
aside,
footer {
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  /* color: #ffffff; */
}

.wrapper {
  margin: auto;
  max-width: 75rem;
}

main {
  /* background: #000000; */
}

.header {
  background: #03a9f4;
}

.jane {
  max-width: 95px;
}

.header-line {
  font-style: italic;
  color: grey;
}

.sidebar {
  border: 1px solid #000000;
  background-color: red;
  /* background: #673ab7; */
}

.footer {
  border: 1px solid #000000;
  /* background: #616161; */
}

/************** IMAGE GALLERY START */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 47%;
  padding: 0 4px;
}
.column .imgcontainer {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  position: relative;
}
.column .image {
  display: block;
  width: 100%;
  height: auto;
}
.column .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008CBA;
}
.column .overlay:hover {
  opacity: 1;
}
.column .overlay .imgtext {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* IMAGE GALLERY END */
@media screen and (min-width: 640px) {
  .flex-container {
    display: flex;
  }

  .content {
    flex: 1;
  }

  .sidebar {
    flex: 0 1 100px;
  }
}

/*# sourceMappingURL=style.css.map */
