@import "./fonts.css";
@import "./menu.scss";
@import "./artpages.scss";
@import "./about.scss";
@import "./footer.scss";
// main.scss

@font-face {
  font-family: "script-font";
  src: url(ILoveGlitter.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px !important;
  overflow-x: hidden;

  /* force scrollbar, prevents initial gap [isotope]*/
  overflow-y: scroll;
}

main,
header,
section,
aside,
footer {
  margin: 0;
  // padding: 20px;
  font-family: 'Montserrat';
  width: 100%;
  overflow: hidden;
}

a{ //ALL LINKS
  &:link {
    text-decoration: none;
    color: black;
  }
  &:visited {
    color: black;
  }
  &:hover {
    font-style: italic;
  }
  &:active {
    text-decoration: underline;
  }
}

main {
  /* background: #000000; */
}

.header-grid-container {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px 4px;
  // grid-template-areas:
  //   "logo logo nav-links nav-links nav-links nav-links"
  //   "headerline headerline nav-links nav-links nav-links nav-links";
  grid-template-areas:
    "logo logo nav-links nav-links nav-links nav-links"
    "logo logo nav-links nav-links nav-links nav-links"
    "headerline headerline headerline headerline headerline headerline";
  font-family: Montserrat;
  // border: 1px solid #100000;
  // background-color: green;
  align-items: center;
  padding: 25px;
}

.logo {
  grid-area: logo;
  text-align: center;
  max-width: 100%;
  // margin: 5px;
  // background-color: red;
  // border: 1px solid #100000;
  // transform: scale(-1, 1);
  // transform-origin: center;
}
.logo img {
  // max-width: 300px;
}

.headerline {
  grid-area: headerline;
  margin: 5px;
  color: #6b6b6b;
  // font-size: 2.5vw;
  // background-color: blue;
  // border: 1px solid #100000;
}

.headerline p {
  margin-top: 0px;
}

.nav-links {
  display: grid;
  grid-template-columns: fit-content auto;
  grid-template-rows: 1fr;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    // "nav-link nav-link nav-link nav-link nav-link"
    // "nav-link nav-link nav-link nav-link nav-link";
    "... ... ... ... ... ..."
    "... ... ... ... ... ...";
  grid-area: nav-links;
  // place-items: center;
  font-size: 125%;
  // background-color: pink;
  // border: 1px solid #100000;
}
.nav-link {
  text-align: center;
  // grid-area: nav-link;
 }

// DROPDOWN STYLE START

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: flex;
  flex-flow: wrap;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
  background: white;
  padding: 1px 0px;
}

.nav-link:hover > ul,
.nav-link:focus-within > ul,
.nav-link ul:hover,
.nav-link ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
   z-index: 1;
}

ul li {
  clear: both;
  width: 100%;
  padding: 5px;
  font-size: .7em;
  flex: 1 100%;
  color: dark-grey;
}
// DROPDOWN STYLE END

/* The hero image */
.hero-image {
  background-image: url("/../images/about/painting5.jpg");
  /* Set a specific height */
  // background-size: 100% 100%;
  // height: 500px;
  height: 500px;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  // background-position: bottom;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
  // background-attachment: fixed;
  // z-index: 1000;
  // background: red;

  // background-repeat:no-repeat;
  // background-position:center center;
  background-size: cover;
  background-attachment:fixed;



  // background-attachment: fixed;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.content {
  max-width: 95%;
  margin: 0 auto;
}

.hello {
  font-size: 2em;
  font-weight: bold;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  max-width: 1100px;
  margin: 0 auto;
}

.flex-item {
  width: 48%;
  height: 100%;
  margin-bottom: 2%;
  // padding: 10px;
  // line-height: 150%;
}
p.flex-item {
  line-height: 165%;
}
.flex-item-pattern:nth-child(3n) {
  width: 100%;
}


/************** IMAGE GALLERY START */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.illustration-column {
  flex: 33%;
  max-width: 32%;
  padding: 0 2px 0 4px;
  margin: 0 auto;
  align-content: space-evenly;
}

.column {
  flex: 50%;
  max-width: 48%;
  padding: 0 2px 0 4px;
  margin: 0 auto;
  align-content: space-evenly;

  // stuff for hover overlay
  .imgcontainer {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    position: relative;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;

    .painting {
      margin: 20px
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.55);
    &:hover {
      opacity: 1;
    }
    .imgtext {
      color: black;
      font-family: "Montserrat";
      font-size: 20px;
      position: absolute;
      top: 45%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      // &:link {
      //   text-decoration: none;
      //   color: black;
      // }
      // &:visited {
      //   color: black;
      // }
      // &:hover {
      //   font-style: italic;
      // }
      // &:active {
      //   text-decoration: underline;
      // }
    }
    .imgsubtext {
      color: black;
      font-family: "Montserrat";
      font-size: 20px;
      position: absolute;
      top: 60%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

/* ---- isotope button ---- */

.button {
  display: inline-block;
  // padding: 10px 16px;
  margin-bottom: 40px;
  // background: #EEE;
  border: none;
  border-radius: 7px;
  // background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  // color: #222;
  // font-family: sans-serif;
  font-size: 15px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #f6c4ff;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #ff5268;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */
.button-group {
  text-align: center;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  // float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* columns, percentage width */
.grid {
  margin: 0 auto;
  width: 100%;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}
.gutter-sizer {
  width: 2%;
}
.grid-item, .item-sizer {
  width: 32%;
}

.grid-item--width2 { width: 40%; }
.grid-item--height2 { height: 200px; }


// *****LINK TREE START*****
#linktree-container {
  background-image: url("/../images/art/paintings/2021/blockparty.jpg");
  padding: 100px 40px;
}

.linktree-box {
  background-color: white;
  max-width: 80%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border-radius: 10px;
  filter: drop-shadow(0.3rem 0.5rem 0.3rem black);

}

.linktree {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 84%;
  margin: 0 auto;
  height: 261px;
}

.linktree-photo img {
  border-radius: 50%;
  width: 100px;

}

.linktree-insta-name {
  margin-bottom: 15px;
}

 .linktree-item {
   background-color: #1f8c87;
   width: 100%;
   text-align: center;
   // line-height: 27px;
   // margin: 2px;
   height: 25px;

   a {
     color: white;
   }
 }


// *****LINK TREE END*****

/* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//   .column {
//     flex: 50%;
//     max-width: 100%;
//   }
// }


// *****SHOPIFY STUFF START
.shopify-collection {

}

// *****SHOPIFY STUFF END

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 640px) {


  .header-grid-container {
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo logo logo logo logo logo"
      "headerline headerline headerline headerline headerline headerline"
      "nav-links nav-links nav-links nav-links nav-links nav-links";
  }
  .nav-links{
    font-size: 115%;
    grid-template-areas:
      "... ... ..."
      "... ... ...";
      grid-gap: 10px;
  }

  .headerline {
    text-align: center;
  }
  .hero-image {
    // background-position: -37px -18px;
    // height: 320px;
    background-attachment: local;
    // background-size: 700px;
  }
  .flex-container {
    padding: 25px;
  }

  .illustration-column {
    // flex: 50%;
    // max-width: 48%;
    padding: 0 2px 0 2px;
  }

  .column {
    // flex: 47%;
    // max-width: 100%;
    .overlay {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.55);
      position: absolute;
      top: 67%;
      height: 20%;
      width: 100%;
    }
    .imgtext {
      font-size: 15px;
    }
  }

  .flex-item {
    width: 100%;
  }
  .about {
    margin: 30px;
  }
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 250px;
  }
  .info {
    grid-area: 1 / 1 / 2 / 4;
    // align-self: baseline;
    align-self: start;
  }
  .footer_img_left {
    display: none;
  }
  .footer_img_right {
  grid-area: 1 / 2 / 2 / 3;
  }
  .footer_img_right img {
      width: 150px;
  }
  .hidden_mobile {
    display: none;
  }
  .hidden_desktop {
  display: block;
  padding-top: 62px;
  }
}
