/* MENU START */
.menu-content {
  /* font-family: "Oswald", sans-serif; */
  padding: 0 0 0 10px;
  /* background-color: red; */
}

.collapsible-menu {
  /* color: black; */
  /* background-color: rgb(255, 255, 255); */
  /* padding: 0px 30px; */
  /* border-bottom: 3px solid #cde700; */
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); */
  /* background-color: blue; */
}

.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
  /* background-color: pink; */
}

.collapsible-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  /* background-color: purple; */
}

.collapsible-menu label {
  /* font-family: "Sedgwick Ave Display", cursive; */
  /* font-size: 56px; */
  display: block;
  cursor: pointer;
  /* background: url(../images/navigation/hamburger.svg) no-repeat left center; */
  padding: 10px 0 10px 0px;
  /* background-color: green; */
  /* max-width: 0px; */
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input#work,
#contact,
#about,
#shop,
#menu {
  display: none;
}

input:checked + label {
  /* background-image: url(../images/navigation/x.svg); */
  /* max-width: 0px; */
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  /* font-family: "Oswald", sans-serif; */
  padding: 0 0 0 10px;
  /* background-color: yellow; */
}

/* Toggle Effect */
input:checked ~ label {
  /* background-image: url(../images/navigation/x.svg); */
  /* max-width: 0px; */
}

input:checked ~ .menu-content {
  max-height: 100%;
}

/* MENU END */
.footer {
  font-family: "Montserrat";
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  gap: 1px 1px;
  grid-template-areas: "contact contact contact" "instagram instagram instagram";
}

.contact {
  grid-area: contact;
}

.instagram {
  grid-area: instagram;
}

@font-face {
  font-family: "script-font";
  src: url(ILoveGlitter.ttf);
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url(Montserrat-Regular.ttf);
}
main,
header,
section,
aside,
footer {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat";
  /* color: #ffffff; */
}

.wrapper {
  margin: auto;
  max-width: 75rem;
}

main {
  /* background: #000000; */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px 4px;
  grid-template-areas: "logo logo nav-links nav-links nav-links " "headerline headerline nav-links nav-links nav-links ";
  font-family: Montserrat;
}

.logo {
  grid-area: logo;
  max-width: 110px;
  margin: 5px;
}

.headerline {
  grid-area: headerline;
  margin: 5px;
  color: #6b6b6b;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "link1 link2 link3" "link1 link2 link3";
  grid-area: nav-links;
  justify-items: center;
  align-items: center;
  font-size: 1.5em;
}

.link2 {
  grid-area: link2;
}

.link3 {
  grid-area: link3;
}

.link1 {
  grid-area: link1;
}

.sidebar {
  /* background: #673ab7; */
}

.footer {
  /* background: #616161; */
}

/************** IMAGE GALLERY START */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  max-width: 47%;
  padding: 0 4px;
  margin: 0 auto;
}
.column .imgcontainer {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  position: relative;
}
.column .image {
  display: block;
  width: 100%;
  height: auto;
}
.column .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 255, 255, 0.55);
}
.column .overlay:hover {
  opacity: 1;
}
.column .overlay .imgtext {
  color: black;
  font-family: "Montserrat";
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.column .overlay .imgtext:link {
  text-decoration: none;
  color: black;
}
.column .overlay .imgtext:visited {
  color: black;
}
.column .overlay .imgtext:hover {
  font-style: italic;
}
.column .overlay .imgtext:active {
  text-decoration: underline;
}
.column .overlay .imgsubtext {
  color: black;
  font-family: "Montserrat";
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* IMAGE GALLERY END */
@media screen and (min-width: 640px) {
  .flex-container {
    display: flex;
  }

  .content {
    flex: 1;
  }

  .sidebar {
    flex: 0 1 100px;
  }
}

/*# sourceMappingURL=style.css.map */
